S3method(aitvar,data.frame)
S3method(aitvar,default)
S3method(aitvar,matrix)
export(aitvar)
export(cov2prec)
export(fixed_mean_vector)
export(graph2prec)
export(log_norm_mean_vector)
export(make_graph)
export(make_precision_mat)
export(neff)
export(prec2cov)
export(proportionality_filter)
export(rmvnorm)
export(rmvzinegbin)
export(rmvzipois)
export(rzipois)
export(shannon)
export(sim_counts)
export(sparseSigma)
export(unsparseSigma)
import(Rcpp)
importFrom(MASS,ginv)
importFrom(VGAM,qzinegbin)
importFrom(VGAM,qzipois)
importFrom(boot,boot)
importFrom(stats,dpois)
importFrom(stats,qpois)
importFrom(stats,runif)
useDynLib(codmer)
exportPattern("^[[:alpha:]]+")

