S3method(aitvar,data.frame)
S3method(aitvar,default)
S3method(aitvar,matrix)
S3method(clr,data.frame)
S3method(clr,default)
S3method(clr,matrix)
S3method(coabsence,default)
S3method(coabsence,matrix)
S3method(cooccurance,default)
S3method(cooccurance,matrix)
S3method(hamming.dist,data.frame)
S3method(hamming.dist,default)
S3method(hamming.dist,matrix)
export(aitvar)
export(clr)
export(coabsence)
export(cooccurance)
export(cor2cov)
export(cov2prec)
export(fitdistr)
export(fixed_mean_vector)
export(get_comm_params)
export(graph2prec)
export(hamming.dist)
export(log_norm_mean_vector)
export(make_graph)
export(make_precision_mat)
export(multivnomial)
export(neff)
export(norm_diric)
export(norm_pseudo)
export(norm_to_total)
export(prec2cov)
export(proportionality_filter)
export(pval)
export(qqdplot_comm)
export(rmvnegbin)
export(rmvnorm)
export(rmvpois)
export(rmvzinegbin)
export(rmvzipois)
export(rzipois)
export(shannon)
export(sim_counts)
export(sparseiCov)
export(synth_comm_from_counts)
import(Rcpp)
importFrom(MASS,ginv)
importFrom(VGAM,dzinegbin)
importFrom(VGAM,dzipois)
importFrom(VGAM,qzinegbin)
importFrom(VGAM,qzipois)
importFrom(boot,boot)
importFrom(flare,flare.tiger)
importFrom(huge,huge)
importFrom(huge,huge.npn)
importFrom(stats,dnbinom)
importFrom(stats,dpois)
importFrom(stats,qnbinom)
importFrom(stats,qpois)
importFrom(stats,runif)
useDynLib(codmeR)
